@media(max-width:75em){

  html{
    font-size: 56.25%;
  }

  .hero{
    gap: 4rem;
  }

  .hero_img{
    flex-basis: 90%;
    flex-grow: 0;
    flex-shrink: 1;
    
    }

    .hero_page{
      padding: 0 5rem;
      }
      .header{
        margin-bottom: 2rem;
      }

      .hero_img_div{
       flex-grow: 0;
       flex-shrink: 1;
       flex-basis: 80%;
      }


}

@media(max-width:59em){

  html{
    font-size: 50%;
  }

  .header{
    margin-bottom: 1rem;
   }
  .hero{
    flex-direction: column;
    row-gap: 1.6rem;
    /* justify-content: center; */
  }

  
  .hero_img_div{
    display: flex;
    order: -1;
    justify-content: center;
    margin-top: 10rem;
  }
  .hero_img{
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40%;
    /* align-self: center;
    align-items: center; */
    }

}

@media(max-width:42em){

  .hero_img_div{
    order: -1;
    justify-content: center;
    margin-top: 0;
  }
 .header{
  margin-bottom: 10rem;
 }

  .hero_img{
  
    flex-basis: 60%;
    
    }

    .hero{
   justify-content: center;
    }

    /* .hero_page{
      padding: 3 3.6rem;
      } */


}