/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

*/

*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 1;
font-weight: 400;
color: #555;
}


.main_navigation{
  display: flex;
  
}

.logo{
  width: 4rem;
}


.header{
display: flex;
align-items: center;
justify-content: space-between;
height: 9.6rem;
padding: 0 4.8rem;
/* background-color:  #fdf2e9; */
width: 100%;
}

.logo_text{
  font-size: 3rem;
  font-weight: 600;
}

.logo_link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;

}


  .hero{
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    align-items: center;
}

.heading-primary{
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
  line-height: 1.05;
}

.hero-sub-heading{
font-size: 2rem;
margin-bottom: 1.8rem;
line-height: 1.6;
}
.game-start-btn{
text-decoration: none;
color: #fff;
background-color:rgba(0, 0, 0, 0.4);
padding: 0.8rem 1.2rem;
border-radius: 0.8rem;
}

.hero-section{
  padding: 4.8rem 0 9.6rem 0;
}

.hero-img{
  width: 100%;
}